<section>
	{{ range first 1 .Data.Pages }}

            <!--<h3><a href="{{ .RelPermalink }}">{{ .Title }} </a> <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>-->
            <!--</h3>-->

            <!--<p> {{ .Content }} </p>-->
            {{ .Render "summary"}}
            <ul id="tags">
                {{ range .Params.tags }}
                <li class="tag"><a href="tags/{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
            </ul>


        {{ end }}

</section>